@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
  list-style: none;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-image: url('leader2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.section {
  padding: 1.5rem;
  margin: 4rem 15rem;
  /* width: 650px;
  height: 400px;
  border: 3px solid grey; */
 
}

.section .leaderboard-title {
  font-size: 45px;
  color: rgb(0, 0, 0);
}

.main-page {
  display: flex;
  justify-content: space-between;
  margin-left: 45px;
}

.section .recent-score-bar {
  margin-bottom: 1.5rem;
}

.recent-score-bar .score-text {
  margin-right: 28px;
  font-size: 25px;
  color: white;
}

.refresh-btn {
  padding: 5px 10px;
  box-shadow: 3px 2px grey;
}

.refresh-btn:hover {
  background: rgb(26, 25, 25);
  color: white;
  cursor: pointer;
}

.recent-score-body {
  border: 2px solid rgb(107, 106, 106);
  border-radius: 5px;
}

.recent-score-body div{
  margin-bottom: 2px;
}

.recent-score-body div:nth-child(odd) {
  background: rgb(192, 143, 143);
  padding: 10px 5px;
}

.recent-score-body div:nth-child(even) {
  background: rgb(152, 175, 125);
  padding: 10px 5px;
}

.add-score-bar {
  margin-right: 5rem;
  font-size: 24px;
}

.add-score-text {
  margin-bottom: 1.5rem;
  color: white;
}

.text-input-score {
  display: flex;
  flex-direction: column;
}

.text-input-score input {
  border: 2px solid grey;
  padding: 7px;
  border-radius: 5px;
}

.text-input-score .name {
  margin-bottom: 1rem;
}

.submit-btn {
  float: right;
  margin-top: 10px;
  padding: 10px 8px;
  box-shadow: 3px 2px grey;
}

.submit-btn:hover {
  background: rgb(26, 25, 25);
  color: white;
  cursor: pointer;
}
